<section class="section-splash">
  <h1>My Budget</h1>
  <div class="link-box">
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path%>
  </div>
</section>