<section class="section">
  <ul>
    <% @categories.each do |category| %>
      <li>
        <div>
          <%= image_tag(category.icon.to_s, alt: 'Category icon') %>

        </div>
        <div>
          <%= category.name %>
        </div>
        <div>
          <%= category.get_total_purchases %>
        </div>
      </li>
    <% end %>
  </ul>
</section>